{% extends 'MsiAdminBundle::base_layout.html.twig' %}

{% block title %}Administration{% endblock %}

{% block brand %}Administration{% endblock %}

{% block nav %}
<li><a href="{{ path('msi_admin_index', {'_msi_admin': 'acme_user_user'}) }}">{{ 'User'|transchoice(2, {}, 'AcmeUserBundle') }}</a></li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Language <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="{{ path('msi_admin_index', {'_msi_admin': 'gnal_language_lemma'}) }}">Lemmas</a></li>
        <li><a href="{{ path('msi_admin_index', {'_msi_admin': 'gnal_language_lexeme'}) }}">Lexemes</a></li>
        <li><a href="{{ path('msi_admin_index', {'_msi_admin': 'gnal_language_connotation'}) }}">Connotations</a></li>
    </ul>
</li>
{% endblock %}

{% block bottom_js %}
{{ parent() }}
<script>
    $('select').chosen();
</script>
{% endblock %}

{% block coypright %}&copy; {{ 'now'|date('Y') }}. ALL RIGHTS RESERVED.{% endblock %}
